body { /* Background color */
  background-color: rgb(214, 219, 247); 
}

h1 { /* Styling title */
  font-family:'Kornilow', sans-serif; 
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 4vmin;
  font-weight: bolder;
}

.chessboard { /*chessboard container*/
  display: grid; 
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(8, 1fr); 
  width: 60vmin; 
  height: 60vmin; 
  margin: 20px auto; 
  border: 2px solid black; 
  background-image: url('https://images.unsplash.com/photo-1531707566548-6577aab321d7?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  
}

.square { /* Sizing for all teh squares */
  width: 100%; 
  height: 100%; 
}

.light { /* Light square styling */
  background-color: #c6cde2; 
}

/* Dark square styling */
.dark {
  background-color: #4c62a6;
}

.light, .dark { /* for both light and dark squares (centers images) */
  display: flex;
  justify-content: center;
}

.chessboard img { /* Sizing for all the icon images */
  width: 80%;
  height: 80%; 
}
footer {
  text-align: center; 
  padding: 20px;
}
p { 
  font-size: 2vmin;
  color: rgb(0, 0, 0);
  margin-right: 5px; 
}
