body { /* page */
  height: 100vh;
  background: rgb(227, 227, 220); /* page background color */
  margin: 0;
  position: relative;
  font-family: "bitcount-prop-single-line-sq", sans-serif; /* font */ 
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

.buttons { /* button and color picker */
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(241, 241, 235);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button { /* button */
  padding: 10px 20px; 
  background-color: #110d76; 
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; /* switch cursor to pointer cursor on hover */
 
}
button:hover {
  background-color: #5d59ce; 

}

.dot { /* dots when clicked*/ 
  position: absolute;
  border-radius: 50%;
  background: black;
}
